# SCRFD + ArcFace 人脸识别运行依赖
# 环境：conda create -n face_scrfd_arcface python=3.10
onnxruntime-gpu==1.23.2
opencv-python==4.13.0.92
numpy==2.2.6
onnx==1.22.0
tqdm==4.70.0
pillow==12.3.0
scipy==1.15.3
elasticsearch==9.5.0
